##########################################
# .NET
##########################################

[*.cs]
# CA1014: Mark assemblies with CLSCompliant.
# Justification: Not needed here
# https://docs.microsoft.com/en-us/visualstudio/code-quality/ca1014
dotnet_diagnostic.CA1014.severity = none

# IDE0005: Remove unnecessary usings/imports.
# Justification: There is a bug in the .NET SDK that requires GenerateDocumentationFile to be enabled for IDE0005 to work.
# https://github.com/dotnet/aspnetcore/issues/47912
dotnet_diagnostic.IDE0005.severity = none
