##########################################
# .NET
##########################################

[*.cs]
# CA1716: Identifiers should not match keywords
# Justification: Ignore Parameters to avoid breaking changes
dotnet_code_quality.CA1716.analyzed_symbol_kinds = Namespace, NamedType, Method, Property, Event
